---
import { Image } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';

const {frontmatter} = Astro.props;

const isOptimized = frontmatter.image?.src !== undefined && frontmatter.image.src !== "";
---
<BaseLayout>
<main>
<h1>{frontmatter.title}</h1>
<p class="info-note">{frontmatter.author} - {new Date(frontmatter.pubDate).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' })}</p>
<hr>
<br/>
{isOptimized ? (
  // Afficher une image optimisée si elle existe
<Image class="custom-img" src={frontmatter.image.src} width="600" height="300" alt={frontmatter.image.alt} />
) : (
  // Sinon, afficher une image classique
  <img src={frontmatter.image.url} width="600" height="300" alt={frontmatter.image.alt} />
)}<br/>
<slot />
<hr>
<div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <a href={`/tags/${tag}`} class="tag">{tag}</a>
    ))}
</div> 

</main>
</BaseLayout>